/* standards for whole stylesheet. 16px is the basis for our rem units */
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #000000;
  --bg-primary: #C5C6D0;
  margin-top: 4rem;
}

/* Body is the entire page */
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body {
  background-color: #93CCEA;
}

/* Customise the scroll bar */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}


#review-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h1, h2, h3, h4, h5, p {
  text-align: center;
}

/* Top navigation bar */
.top-nav-bar {
  position: fixed;
  background-color: #499bb6;
  top: 0;
  height: 3rem;
  width: 100%;
  right: 0;
}

.top-nav-bar-container {
  position: absolute;
  list-style: none;
  margin: 0;
  display: flex;
  gap: 0.5rem;
  top: 0.3rem;  
  right: 0.5rem;
  float: left;
}

.top-nav-bar-btn {
  color: white;
  background-color: #070255;
  padding: 0.5rem 2rem;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
}

.top-nav-bar-btn:hover {
  background-color: #1809eb;
}

.logo {
  width: 85px;
  height: auto;
  float: left;
  background-color: #070255;
  border-radius: 12px;
  
}