:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #000000;
  --bg-primary: #C5C6D0;
}

body {
  overflow-y: hidden;
  text-align: center;
  background: #ADD8E6;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #05627e;
}

/* Top navigation bar */
.top-nav-bar {
  position: fixed;
  background-color: #499bb6;
  top: 0;
  height: 3rem;
  width: 100%;
  right: 0;
}

.top-nav-bar-container {
  position: absolute;
  list-style: none;
  margin: 0;
  display: flex;
  gap: 0.5rem;
  top: 0.3rem;  
  right: 0.5rem;
  float: left;
}

.top-nav-bar-btn {
  color: white;
  background-color: #070255;
  padding: 0.5rem 2rem;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
}

.top-nav-bar-btn:hover {
  background-color: #1809eb;
}
.logo {
  width: 85px;
  height: auto;
  float: left;
  background-color: #070255;
  border-radius: 12px;
}

main {
  overflow: hidden;
  margin-top: 4rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.container {
  display: grid;
  height: 85vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  grid-row-gap: 2rem;
}

.card {
  background: #f5f5f5;
  border-radius: 28px;
  padding: 1rem;
  text-align: left;
  position: relative;
}

.card h2 {
  text-align: center;
  width: max-content;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 12px;
  background: #97d4e9;
}

.card h4 {
  text-align: center;
  margin-left: 1rem;
  position: absolute;
  bottom: 0;
}

.favourite {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  width: 50px;
  cursor: pointer;
}

.favourite-grey {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  width: 50px;
  cursor: pointer;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.food {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  border-radius: 24px;
  width: 215px;
  cursor: pointer;
}

.paginator {
  text-align: center;
  width: 140px;
  position: relative;
  bottom: -1rem;
  /* This is to ensure the text is centered on the screen. (50% - X) where X should be half of the element width */
  left: calc(50% - 70px);
  background:#499bb6;
  opacity: 80%;
  border-radius: 12px;
  font-weight: bold;
}

.paginator a {
  zoom: 150%;
  display: inline-block;
  cursor: pointer;
}

