:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #000000;
  --bg-primary: #C5C6D0;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 20rem;
  margin-top: 2rem;
  padding: 1rem;
}

/* Top navigation bar */
.top-nav-bar {
  position: fixed;
  background-color: #555;
  top: 0;
  height: 3rem;
  width: 100%;
  right: 0;
  align:left;
}

.top-nav-bar-container {
  position: relative;
  list-style: none;
  margin: 0;
  display: flex;
  gap: 0.5rem;
  top: 50%;
  width: 100%;
  left: calc(100% - 20rem);
  transform: translate(-50%, -50%);

}

.top-nav-bar-btn {
  color: white;
  background-color: #4CAF50;
  padding: 8px 2rem;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
}

/* Block for side bar */
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  overflow-x: hidden;
  overflow-y: scroll;
  width: 20rem;
  top: 0;
  height: 100vh;
}

/* change style of the scroll bar */
nav::-webkit-scrollbar {
  width: 0.25rem;
}

nav::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

nav::-webkit-scrollbar-thumb {
  background: #307e32;
}

/* Navigation items container */
.navbar-nav {
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Heading at top of side bar */
.nav-header {
  text-align: center;
  color: var(--text-primary);
  text-decoration: none;
}

/* Block of selections on side bar */
.nav-item {
  text-align: center;
}

.nav-item h2 {
  text-align: center;
  color: var(--text-primary);
  text-decoration: none;
  font-size: 20px;
}

/* Grid of buttons */
.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 8rem));
  width: 20rem;
  margin-left: 3rem;
  margin-top: 1rem;
}

/* Individual button */
.card {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;
}

.card:hover {
  background-color: #06652a;
}

.doThis {
  color:#6649b8;
  font-size: 300px;
  margin: 20px;
  text-align: center;
}